<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>K2 - Projekt rozwojowy</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body class="pushable">
        <div class="ui vertical inverted sidebar menu left" style="">
            <a class="active item" href="/">Home</a>
            <a class="item" href="/login">Logowanie</a>
            <a class="item" href="/register">Rejestracja</a>
        </div>
        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment">
                <% if(error && error.length > 0) { %>
                    <div class="ui red message">
                        <%= error %>
                    </div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="ui green message">
                        <%= success %>
                    </div>
                <% } %> 
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a class="active item" href="/">Home</a>
                        <div class="right menu">
                            <% if(!currentUser) { %>
                            <div class="item">
                                <a class="ui inverted button" href="/login">Logowanie</a>
                                <a class="ui inverted button" href="/register">Rejestracja</a>
                            </div>
                            <% } else { %>
                            <div class="ui simple dropdown item">
                                Powiadomienia <a class="ui yellow circular label"><%= notifications.length %></a> <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">
                                    <a href="/notifications">Zobacz poprzednie powiadomienia</a>
                                    </div>
                                    <% notifications.forEach(function(notification) { %>
                                    <div class="divider"></div>
                                    <div id="not-menu" class="item">
                                    <img class="ui avatar image" src="<%= notification.avatar %>"> 
                                    <span>
                                        Użytkownik <a href="/users/<%= notification.userId %>"><%= notification.username %></a> dodał nowy wpis: <a href="/notifications/<%= notification.id %>"><%= notification.courseName %></a>
                                    </span> 
                                    </div>
                                    <!--<div class="divider"></div>-->
                                    <!--<a class="item" href="/notifications/<%= notification.id %>">Użytkownik <%= notification.username %> dodał nowe wydarzenie</a>-->
                                        <% }); %>  
                                </div>
                            </div>
                            <div class="user-badge">
                                <a class="ui label" href="/users/<%= currentUser.id %>">
                                    <img class="ui right spaced avatar image" src="<%= currentUser.avatar %>">
                                    <%= currentUser.username %>
                                </a>    
                            </div>    
                            <div class="item">
                                <a class="ui inverted button" href="/logout">Wyloguj</a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>