<% include ../partials/header %>

                <div id="main-header">
                    <ul class="slideshow">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <div class="ui text container">
                        <h1 class="ui inverted header landing-header">
                            Projekt rozwojowy
                        </h1>
                        <h2 class="landing-header">
                            Baza wiedzy CE
                        </h2>
                        <a class="ui huge teal button landing-header" href="/new">
                            Dodaj coś od siebie!
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui vertical stripe segment">
                <div id="category-menu-grid" class="ui four column centered stackable grid">
                    <div id="category-menu-mobile" class="ui floating labeled icon dropdown button">
                        <i class="filter icon"></i>
                        <span class="text">Kategorie</span>
                        <div class="menu" data-tab="first">
                            <a class="item" data-tab="first">
                                <div class="item">
                                    Wszystkie
                                </div>
                            </a>
                            <a class="item" data-tab="second">
                                <div class="item">
                                    Konferencje
                                </div>
                            </a>
                            <a class="item" data-tab="third">
                                <div class="item">
                                    Meetupy
                                </div>
                            </a>
                            <a class="item" data-tab="fourth">
                                <div class="item">
                                    Warsztaty
                                </div>
                            </a>
                            <a class="item" data-tab="fifth">
                                <div class="item">
                                    Książki
                                </div>
                            </a>
                            <a class="item" data-tab="sixth">
                                <div class="item">
                                    Strony internetowe
                                </div>
                            </a>
                            <a class="item" data-tab="seventh">
                                <div class="item">
                                    Programy
                                </div>
                            </a>         
                        </div>
                    </div>
                    <div id="category-menu-tab" class="ui top attached tabular stackable menu">
                        <a class="active item" data-tab="first">Wszystkie</a>
                        <a class="item" data-tab="second">Konferencje</a>
                        <a class="item" data-tab="third">Meetupy</a>
                        <a class="item" data-tab="fourth">Warsztaty</a>
                        <a class="item" data-tab="fifth">Książki</a>
                        <a class="item" data-tab="sixth">Strony internetowe</a>
                        <a class="item" data-tab="seventh">Programy</a>
                    </div>
                </div>    
                <div class="ui bottom attached active tab segment category-menu" data-tab="first">
                    <div id="hp-cards-grid" class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <% if (course.category == "Konferencja") { %>
                                    <span class="right floated"><i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %></span>
                                    <% } %>
                                    <% if(course.category == "Meetup") { %>
                                    <span class="right floated"><i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %></span>
                                    <% } %>
                                    <% if(course.category == "Warsztat") { %>
                                    <span class="right floated"><i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %></span>
                                    <% } %>
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <span id="rating"><i class="star icon"></i>0</span> 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <span id="rating"><i class="star icon checked"></i><%= course.rating.toFixed(2) %></span>
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% }); %>
                    </div>
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="second">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Konferencja") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <span class="right floated">
                                        <i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %>
                                    </span>
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div>           
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="third">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Meetup") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <span class="right floated">
                                        <i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %>
                                    </span>
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div> 
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="fourth">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Warsztat") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <span class="right floated">
                                        <i class="calendar alternate icon"></i> <%= moment(course.date).calendar(); %>
                                    </span>
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div> 
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="fifth">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Książka") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div> 
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="sixth">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Strona internetowa") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                       <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div> 
                </div>
                <div class="ui bottom attached tab segment category-menu" data-tab="seventh">
                    <div class="ui middle aligned stackable grid container">
                        <% courses.forEach(function(course){ 
                        if(course.category == "Program") { %>
                        <div class="four wide column">
                            <div id="hp-card" class="ui card">
                                <div class="image">
                                    <a class="ui red ribbon label"><%= course.category %></a>
                                    <img src="<%= course.image %>">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a class="header" href="/c/<%= course._id %>"><%= course.name.substring(0, 30) %><% if(course.name.length>30) { %>...<% } %></a>
                                    </h4>
                                    <div class="description">
                                        <a class="ui orange basic tiny button" href="/c/<%= course._id %>">Dowiedz się więcej <i class="chevron right icon"></i></a>
                                    </div>
                                </div>
                                <div class="extra">
                                    <% if (course.rating === 0) { %>
                                    <span>
                                        <i class="star icon"></i>0 
                                    </span>
                                    <% } else { %>
                                    <span>
                                        <i class="star icon checked"></i><%= course.rating.toFixed(2) %> 
                                    <% } %>
                                        <i class="comments icon"></i><%= course.comments.length %>
                                    </span>    
                                </div>
                            </div>
                        </div> 
                        <% } 
                        }); %>
                    </div> 
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>