<% include ../partials/header %>


            <div id="form-grid" class="ui five column centered middle aligned center aligned stackable grid">
                <div id="form-grid-column" class="middle aligned center aligned column">
                    <h2 class="ui teal image header">
                    <div class="content">
                        Dodaj nowy wpis
                    </div>
                    </h2>
                    <form class="ui large form" action="/new" method="POST">
                        <div id="login-form" class="ui stacked segment">
                            <div id="error-name" class="field <% if(typeof errors.name != 'undefined') { %>error<% } %>">
                                <div class="ui left icon input">
                                    <i class="edit icon"></i>
                                    <input type="text" name="name" placeholder="Tytuł" value="<% if(typeof errors.name == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.name %><% } %>">
                                </div>
                                <% if(typeof errors.name != "undefined") { %>
                                <div id="new-error-name-label" class="ui pointing red basic label">
                                    <%= errors.name.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-desc" class="field <% if(typeof errors.description != 'undefined') { %>error<% } %>">
                                <div class="ui left icon input">
                                    <textarea name="description" placeholder="Opis..."><% if(typeof errors.description == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.description %> <% } %></textarea>
                                </div>
                                <% if(typeof errors.description != "undefined") { %>
                                <div id="new-error-desc-label" class="ui pointing red basic label">
                                    <%= errors.description.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-web" class="field <% if(typeof errors.website != 'undefined') { %>error<% } %>">
                                <div class="ui left icon input">
                                    <i class="globe icon"></i>
                                    <input type="text" name="website" placeholder="Strona internetowa" value="<% if(typeof errors.website == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.website %> <% } %>">
                                </div>
                                <% if(typeof errors.website != "undefined") { %>
                                <div id="new-error-web-label" class="ui pointing red basic label">
                                    <%= errors.website.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-img" class="field <% if(typeof errors.image != 'undefined') { %>error<% } %>">
                                <div class="ui left icon input">
                                    <i class="image icon"></i>
                                    <input type="text" name="image" placeholder="Obrazek" value="<% if(typeof errors.image == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.image %><% } %>">
                                </div>
                                <% if(typeof errors.image != "undefined") { %>
                                <div id="new-error-img-label" class="ui pointing red basic label">
                                    <%= errors.image.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-cat" class="field <% if(typeof errors.category != 'undefined') { %>error<% } %>">
                                <div class="ui selection dropdown">
                                <input type="hidden" name="category" value="<% if(typeof errors.category == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.category %><% } %>">
                                <i class="dropdown icon"></i>
                                    <div class="default text"><i class="filter icon"></i>Wybierz kategorię</div>
                                    <div class="menu">
                                        <div class="item" data-value="Konferencja"><i class="users icon"></i>Konferencja</div>
                                        <div class="item" data-value="Meetup"><i class="meetup icon"></i>Meetup</div>
                                        <div class="item" data-value="Warsztat"><i class="cogs icon"></i>Warsztat</div>
                                        <div class="item" data-value="Książka"><i class="book icon"></i>Książka</div>
                                        <div class="item" data-value="Strona internetowa"><i class="globe icon"></i>Strona internetowa</div>
                                        <div class="item" data-value="Program"><i class="desktop icon"></i>Program</div>
                                    </div>
                                </div>
                                <% if(typeof errors.category != "undefined") { %>
                                <div id="new-error-cat-label" class="ui pointing red basic label">
                                    <%= errors.category.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-date" class="field <% if(typeof errors.date != 'undefined') { %>error<% } %>">
                                <div class="ui calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" name="date" placeholder="Data wydarzenia" value="<% if(typeof errors.date == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.date %> <% } %>"/>
                                    </div>
                                </div>
                                <% if(typeof errors.date != "undefined") { %>
                                <div id="new-error-date-label" class="ui pointing red basic label">
                                    <%= errors.date.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div id="error-tag" class="field <% if(typeof errors.tag != 'undefined') { %>error<% } %>">
                                <div class="ui fluid multiple search selection dropdown">
                                <input type="hidden" name="tag" value="<% if(typeof errors.tag == 'undefined' && typeof newCourse !== 'undefined') { %><%= newCourse.tag %><% } %>">
                                <i class="dropdown icon"></i>
                                    <div class="default text"><i class="tags icon"></i>Dodaj tagi</div>
                                    <div class="menu">
                                        <div class="item" data-value="front-end">front-end</div>
                                        <div class="item" data-value="back-end">back-end</div>
                                        <div class="item" data-value="UX">UX</div>
                                        <div class="item" data-value="machine learning">machine learning</div>
                                        <div class="item" data-value="soft skills">soft skills</div>
                                        <div class="item" data-value="graphic design">graphic design</div>
                                        <div class="item" data-value="HTML">HTML</div>
                                        <div class="item" data-value="CSS">CSS</div>
                                        <div class="item" data-value="JavaScript">JavaScript</div>
                                        <div class="item" data-value="CMS">CMS</div>
                                        <div class="item" data-value="chatbots">chatbots</div>
                                        <div class="item" data-value="mobile">mobile</div>
                                        <div class="item" data-value="testy">testy</div>
                                    </div>
                                </div>
                                <% if(typeof errors.tag != "undefined") { %>
                                <div id="new-error-cat-label" class="ui pointing red basic label">
                                    <%= errors.tag.msg %>
                                </div>
                                <% } %>
                            </div>
                            <div class="field">
                                <button class="fluid ui large inverted primary button">Dodaj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
<% include ../partials/footer %>