<% include ../partials/header %>

            <div id="course-show" class="ui mobile reversed stackable centered grid">
                <div id="more-courses" class="column">
                    <p>Zobacz także:</p>
                    <div class="ui segments">
                        <% courses.reverse().slice(0, 10).forEach(function(course ){
                            if(moment(course.date).isAfter(moment()) || course.date === null) {
                        %>
                        <div class="ui segment">
                            <div class="ui red horizontal tiny basic label"><%= course.category %></div> <a class="header" href="/c/<%= course._id %>"><%= course.name %></a>
                        </div>
                        <% }}); %>
                    </div>
                </div>
                <div id="course-column" class="column">
                    <a class="ui red ribbon label course-description-label"><%= course.category %></a>
                    <img class="ui fluid rounded image" src="<%= course.image %>">
                    <div class="six wide column">
                        <div id="course-description" class="ui segment">
                            <h1><%= course.name %></h1>
                            <% if (course.category == "Konferencja") { %>
                            <h4><i class="calendar alternate icon"></i> <%= moment(course.date).format("DD.MM.YYYY") %> <i class="clock icon"></i> <%= moment(course.date).format("hh:mm") %></h4>
                            <% } %>
                            <% if (course.category == "Meetup") { %>
                            <h4><i class="calendar alternate icon"></i> <%= moment(course.date).format("DD.MM.YYYY") %> <i class="clock icon"></i> <%= moment(course.date).format("hh:mm") %></h4>
                            <% } %>
                            <% if (course.category == "Warsztat") { %>
                            <h4><i class="calendar alternate icon"></i> <%= moment(course.date).format("DD.MM.YYYY") %> <i class="clock icon"></i> <%= moment(course.date).format("hh:mm") %></h4>
                            <% } %>
                            <% if (course.category == "Webinar") { %>
                            <h4><i class="calendar alternate icon"></i> <%= moment(course.date).format("DD.MM.YYYY") %> <i class="clock icon"></i> <%= moment(course.date).format("hh:mm") %></h4>
                            <% } %>
                            <h4><a class="course-website" href="<%= course.website %>"><i class="globe icon"></i> www</a></h4>
                            <a class="ui blue image label" href="/users/<%= course.author.id %>">
                                <img src="<%= course.author.avatar %>">
                                <%= course.author.username %>
                                <div class="detail"><%= moment(course.createdAt).fromNow() %></div>
                            </a>
                            <div class="course-description">
                                <%- course.description %>
                            </div>
                            <div class="course-tag">
                            <% course.tag.forEach(function(tag) { %>
                            <a href="/?tag=<%= tag %>" class="ui tag teal small label"><%= tag %></a>
                            <% }); %>
                            </div>
                            <% if(currentUser && course.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <div class="ui accordion">
                                <div class="title">
                                    <button class="ui inverted tiny yellow button">Edytuj</button>
                                </div>
                                <div id="course-edit" class="content">
                                    <form id="edit-course-form<%= course._id %>" class="ui large form" action="/c/<%=course._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
                                        <div id="error-name" class="ui fourteen wide left icon input <% if(typeof errorsMsg['course.name'] != 'undefined') { %>error<% } %>">
                                            <i class="edit icon"></i>
                                            <input type="text" name="course[name]" value="<% if(typeof errorsMsg['course.name'] != 'undefined') { %><%= errorsMsg['course.name'].value %> <% } else { %><%= course.name %><% } %>">
                                        </div>
                                        <% if(typeof errorsMsg['course.name'] != "undefined") { %>
                                        <div id="error-name-label" class="ui pointing red basic label">
                                        <%= errorsMsg['course.name'].msg %>
                                        </div>
                                        <% } %>
                                        <div id="error-desc" class="ui fourteen wide left icon input <% if(typeof errorsMsg['course.description'] != 'undefined') { %>error<% } %>">
                                            <textarea name="course[description]"><% if(typeof errorsMsg['course.description'] != 'undefined') { %><%= errorsMsg['course.description'].value %> <% } else { %><%- course.description %><% } %></textarea>
                                        </div>
                                        <% if(typeof errorsMsg['course.description'] != "undefined") { %>
                                        <div id="error-desc-label" class="ui pointing red basic label">
                                        <%= errorsMsg['course.description'].msg %>
                                        </div>
                                        <% } %>
                                        <div id="error-img" class="ui fourteen wide left icon input <% if(typeof errorsMsg['course.image'] != 'undefined') { %>error<% } %>">
                                            <i class="image icon"></i>
                                            <input type="file" id="file-input" name="file-input">
                                            <input type="hidden" id="image" name="course[image]" value="<%= course.image %>">
                                        </div>
                                        <% if(typeof errorsMsg['course.image'] != "undefined") { %>
                                        <div id="error-img-label" class="ui pointing red basic label">
                                        <%= errorsMsg['course.image'].msg %>
                                        </div>
                                        <% } %>
                                        <div id="error-web" class="ui fourteen wide left icon input <% if(typeof errorsMsg['course.website'] != 'undefined') { %>error<% } %>">
                                            <i class="globe icon"></i>
                                            <input type="text" name="course[website]" value="<% if(typeof errorsMsg['course.website'] != 'undefined') { %><%= errorsMsg['course.website'].value %> <% } else { %><%= course.website %><% } %>">
                                        </div>
                                        <% if(typeof errorsMsg['course.website'] != "undefined") { %>
                                        <div id="error-web-label" class="ui pointing red basic label">
                                        <%= errorsMsg['course.website'].msg %>
                                        </div>
                                        <% } %>
                                        <div id="error-cat" class="ui fourteen wide left icon input">
                                            <div class="ui selection dropdown">
                                                <input type="hidden" name="course[category]" value="<%= course.category %>">
                                                <i class="dropdown icon"></i>
                                                <div class="default text"><i class="filter icon"></i>Wybierz kategorię</div>
                                                <div class="menu">
                                                    <div class="item" data-value="Konferencja"><i class="users icon"></i>Konferencja</div>
                                                    <div class="item" data-value="Meetup"><i class="meetup icon"></i>Meetup</div>
                                                    <div class="item" data-value="Warsztat"><i class="cogs icon"></i>Warsztat</div>
                                                    <div class="item" data-value="Webinar"><i class="video icon"></i>Webinar</div>
                                                    <div class="item" data-value="Kurs"><i class="laptop icon"></i>Kurs</div>
                                                    <div class="item" data-value="Książka"><i class="book icon"></i>Książka</div>
                                                    <div class="item" data-value="Strona internetowa"><i class="globe icon"></i>Strona internetowa</div>
                                                    <div class="item" data-value="Program"><i class="desktop icon"></i>Program</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="error-tag" class="field <% if(typeof errorsMsg['course.tag'] != 'undefined') { %>error<% } %>">
                                <div class="ui fluid multiple search selection dropdown">
                                <input type="hidden" name="course[tag]" value="<% if(typeof errorsMsg['course.tag'] != 'undefined') { %><%= errorsMsg['course.tag'].value %> <% } else { %><%= course.tag.join(',') %><% } %>">
                                <i class="dropdown icon"></i>
                                    <div class="default text"><i class="tags icon"></i>Dodaj tagi</div>
                                    <div class="menu">
                                        <div class="item" data-value="front-end">front-end</div>
                                        <div class="item" data-value="back-end">back-end</div>
                                        <div class="item" data-value="UX">UX</div>
                                        <div class="item" data-value="machine learning">machine learning</div>
                                        <div class="item" data-value="soft skills">soft skills</div>
                                        <div class="item" data-value="graphic design">graphic design</div>
                                        <div class="item" data-value="HTML">HTML</div>
                                        <div class="item" data-value="CSS">CSS</div>
                                        <div class="item" data-value="JavaScript">JavaScript</div>
                                        <div class="item" data-value="CMS">CMS</div>
                                        <div class="item" data-value="chatbots">chatbots</div>
                                        <div class="item" data-value="mobile">mobile</div>
                                        <div class="item" data-value="testy">testy</div>
                                    </div>
                                </div>
                                <% if(typeof errorsMsg['course.tag'] != "undefined") { %>
                                <div id="error-tag-label" class="ui pointing red basic label">
                                    <%= errorsMsg['course.tag'].msg %>
                                </div>
                                <% } %>
                            </div>
                                        <div id="error-date" class="ui fourteen wide left icon input <% if(course.category == 'Konferencja') { %>show<% } else if(course.category == 'Meetup') { %>show<% } else if(course.category == 'Warsztat') { %>show<% } else if(course.category == 'Webinar') { %>show<% } %>">
                                            <div class="ui calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" name="course[date]" value="<%= moment(course.date).format('YYYY-MM-DD HH:mm') %>" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui fourteen wide left icon input">
                                            <button class="ui inverted tiny yellow button">Edytuj</button>
                                        </div>
                                    </form>
                                    <form class="delete-form" action="/c/<%= course._id %>?_method=DELETE" method="POST">
                                        <button class="ui inverted red tiny button">Skasuj</button>
                                    </form>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div id="course-description" class="ui segment">
                            <% if (course.rating === 0) { %>
                            <h4>
                                <em>Brak ocen.</em>
                            </h4>
                            <% } else { %>
                            <h4>
                                Ocena:
                                <% if (course.rating < 1.5) { %> <i class="star icon checked"></i><%- '<i class="star icon"></i>'.repeat(4) %> <% } %>
                                <% if (course.rating > 1.5 && course.rating < 2.5) { %> <%- '<i class="star icon checked"></i>'.repeat(2) %><%- '<i class="star icon"></i>'.repeat(3) %> <% } %>
                                <% if (course.rating > 2.5 && course.rating < 3.5) { %> <%- '<i class="star icon checked"></i>'.repeat(3) %><%- '<i class="star icon"></i>'.repeat(2) %> <% } %>
                                <% if (course.rating > 3.5 && course.rating < 4.5) { %> <%- '<i class="star icon checked"></i>'.repeat(4) %><%- '<i class="star icon"></i>'.repeat(1) %> <% } %>
                                <% if (course.rating > 4.5) { %> <%- '<i class="star icon checked"></i>'.repeat(5) %> <% } %>
                            </h4>
                            <p>
                                Średnia ocena kursu: <strong><%= course.rating.toFixed(2) %></strong>
                            </p>
                            <div class="ui accordion">
                                <div class="title">
                                    <button class="ui inverted blue button"><i class="eye icon"></i> Zobacz opinie</button>
                                </div>
                                <div id="review-show" class="content">
                                    <div class="ui comments">
                                        <% course.reviews.forEach(function(review){ %>
                                        <div class="comment">
                                            <a class="avatar">
                                                <img src="<%= review.author.avatar %>">
                                            </a>
                                            <div class="content">
                                                <a class="author" href="/users/<%= review.author.id %>"><%= review.author.username %></a>
                                                <div class="metadata">
                                                    <span class="date"><%= moment(review.updatedAt).format("DD.MM.YYYY") %></span>
                                                    <div class="rating">
                                                        <%- '<i class="star icon checked"></i>'.repeat(review.rating) %><%- '<i class="star icon"></i>'.repeat(5 - review.rating) %>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <%- review.text %>
                                                </div>
                                            </div>
                                        </div>
                                        <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                        <div class="accordion">
                                            <div class="title">
                                                <button class="ui inverted tiny yellow button">Edytuj</button>
                                            </div>
                                            <div id="review-edit" class="content">
                                                <form id="edit-review-form<%= review._id %>" class="ui large form" action="/c/<%=course._id %>/reviews/<%=review._id %>?_method=PUT" method="POST">
                                                <div class="fields">
                                                    <div class="ui left icon input">
                                                        <i class="user icon"></i>
                                                        <input type="text" disabled value="<%= review.author.username %>">
                                                    </div>
                                                    <div class="six wide field">
                                                        <input type="hidden" name="review[rating]" value="<%= review.rating %>">
                                                        <div class="ui massive star rating" data-rating="<%= review.rating %>"></div>
                                                    </div>
                                                </div>
                                                <% if(typeof errorRevMsg !== 'undefined') { %>
                                                <div id="error-review-edit-label" class="ui pointing red basic label">
                                                <%= errorRevMsg %>
                                                </div>
                                                <% } %>
                                                <div class="ui fourteen wide left icon input">
                                                    <textarea name="review[text]" form="edit-review-form<%= review._id %>" rows="5" cols="70"><% if(typeof errorRevMsg !== 'undefined' && typeof reviewText !== 'undefined') { %><%= reviewText %><% } else { %><%= review.text %> <% } %></textarea>
                                                </div>
                                                <div class="ui fourteen wide left icon input">
                                                    <button class="ui inverted tiny yellow button">Edytuj</button>
                                                </div>
                                                </form>
                                                <form class="delete-form" action="/c/<%=course._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                                    <button class="ui inverted red tiny button">Skasuj</button>
                                                </form>
                                            </div>
                                        </div>
                                        <% } %>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <% if (currentUser && course.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %>
                            <em>Dodałeś już opinię. Możesz ją edytować.</em>
                            <% } else {%>
                            <div class="ui accordion">
                                <div class="title">
                                    <button class="ui inverted green button"><i class="star outline icon"></i> Dodaj opinię </button>
                                </div>
                                <div id="review-add" class="content">
                                    <% if(!currentUser) { %>
                                    <h5>Musisz być zalogowany, aby dodać opinię. <a href="/login">Kliknij tutaj.</a></h5>
                                    <% } %>
                                    <% if(currentUser) { %>
                                    <form id="add-review-form" class="ui large form" action="/c/<%= course._id %>/reviews" method="POST">
                                        <div class="fields">
                                            <div class="ui left icon input">
                                                <i class="user icon"></i>
                                                <input type="text" disabled value="<%= currentUser.username %>">
                                            </div>
                                            <div class="six wide field">
                                                <input type="hidden" name="review[rating]">
                                                <div class="ui massive star rating"></div>
                                            </div>
                                        </div>
                                        <% if(typeof errorMsg !== 'undefined') { %>
                                        <div id="error-review-label" class="ui pointing red basic label">
                                        <%= errorMsg %>
                                        </div>
                                        <% } %>
                                        <div class="ui fourteen wide left icon input">
                                            <textarea class="form-control" name="review[text]" placeholder="Wpisz treść opinii." form="add-review-form"><% if(typeof errorMsg !== 'undefined' && typeof reviewText !== 'undefined') { %><%= reviewText %><% } %></textarea>
                                        </div>
                                        <div class="ui fourteen wide left icon input">
                                            <button class="tiny ui inverted green button">Dodaj</button>
                                        </div>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div id="course-description" class="ui segment">
                            <h4>Komentarze</h4>
                            <% if (course.comments && course.comments.length) { %>
                            <div class="ui accordion">
                                <div class="title">
                                    <button class="ui inverted blue button"><i class="eye icon"></i> Zobacz komentarze</button>
                                </div>
                                <div id="review-show" class="content">
                                    <div class="ui comments">
                                        <% course.comments.forEach(function(comment){ %>
                                        <div class="comment">
                                            <a class="avatar">
                                                <img src="<%= comment.author.avatar %>">
                                            </a>
                                            <div class="content">
                                                <a class="author" href="/users/<%= comment.author.id %>"><%= comment.author.username %></a>
                                                <div class="metadata">
                                                    <span class="date"><%= moment(comment.createdAt).fromNow() %></span>
                                                </div>
                                                <div class="text">
                                                    <%- comment.text %>
                                                </div>
                                            </div>
                                        </div>
                                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                            <div class="accordion">
                                                <div class="title">
                                                    <button class="ui inverted tiny yellow button">Edytuj</button>
                                                </div>
                                                <div id="review-edit" class="content">
                                                    <form id="edit-comment-form<%= comment._id %>" class="ui large form" action="/c/<%=course._id %>/comments/<%=comment._id %>?_method=PUT" method="POST">
                                                    <div class="ui fourteen wide left icon input">
                                                    <i class="user icon"></i>
                                                        <input type="text" disabled value="<%= comment.author.username %>">
                                                    </div>
                                                    <div class="ui fourteen wide left icon input">
                                                        <textarea name="comment[text]" placeholder="Edytuj komentarz..." form="edit-comment-form<%= comment._id %>"><% if(typeof errorMsgComEdit == 'undefined') { %><%= comment.text %><% } %></textarea>
                                                    </div>
                                                    <% if(typeof errorMsgComEdit !== 'undefined') { %>
                                                    <div id="error-comment-edit-label" class="ui pointing red basic label">
                                                    <%= errorMsgComEdit %>
                                                    </div>
                                                    <% } %>
                                                    <div class="ui fourteen wide left icon input">
                                                        <button class="ui inverted tiny yellow button">Edytuj</button>
                                                    </div>
                                                    </form>
                                                    <form class="delete-form" action="/c/<%=course._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                                        <button class="ui inverted red tiny button">Skasuj</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <% } %>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                            <div class="ui accordion">
                                <div class="title">
                                    <button class="ui inverted green button"><i class="comments outline icon"></i> Dodaj komentarz</button>
                                </div>
                                <div id="review-add" class="content">
                                    <% if(!currentUser) { %>
                                    <h5>Musisz być zalogowany, aby dodać komentarz. <a href="/login">Kliknij tutaj.</a></h5>
                                    <% } %>
                                    <% if(currentUser) { %>
                                    <form id="add-comment-form" class="ui large form" action="/c/<%= course._id %>/comments" method="POST">
                                        <div class="ui fourteen wide left icon input">
                                            <i class="user icon"></i>
                                            <input type="text" disabled value="<%= currentUser.username %>">
                                        </div>
                                        <div class="ui fourteen wide left icon input <% if(typeof errorMsgCom !== 'undefined') { %>error<% } %>">
                                            <textarea name="comment[text]" placeholder="Wpisz treść komentarza." form="add-comment-form"></textarea>
                                        </div>
                                        <% if(typeof errorMsgCom !== 'undefined') { %>
                                        <div id="error-comment-label" class="ui pointing red basic label">
                                        <%= errorMsgCom %>
                                        </div>
                                        <% } %>
                                        <div class="ui fourteen wide left icon input">
                                            <button class="tiny ui inverted green button">Dodaj komentarz</button>
                                        </div>
                                    </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>