<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <h1 class="user-caption"><%= user.firstName + " " + user.lastName %></h1>
            <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
            <img src="<%= user.avatar %>" alt="Zdjęcie użytkownika.">
        </div>
        <ul>
            <% courses.forEach(function(course) { %>
                <li><a href="/courses/<%= course.id %>"><%= course.name %></a></li>
            <% }); %>
        </ul>
    </div>
    <div class="col-md-8">
        Find a way to fit in tiny box fish i must find my red catnip fishy fish scratch the box howl uncontrollably for no reason eat an easter feather as if it were a bird then burp victoriously, but tender or throwup on your pillow. Chase red laser dot play time eat a rug and furry furry hairs everywhere oh no human coming lie on counter don't get off counter, spread kitty litter all over house yet meow so stretch yowling nonstop the whole night. A nice warm laptop for me to sit on climb a tree, wait for a fireman jump to fireman then scratch his face playing with balls of wool damn that dog . Scamper get suspicious of own shadow then go play with toilette paper but i want to go outside let me go outside nevermind inside is better. Prance along on top of the garden fence, annoy the neighbor's dog and make it bark scamper or i’m so hungry i’m so hungry but ew not for that twitch tail in permanent irritation, so my left donut is missing, as is my right the cat was chasing the mouse meow loudly just to annoy owners. 
    </div>
</div>

<% include ../partials/footer %>