<% include ../partials/header %>

        <div id="form-grid" class="ui two column centered stackable grid">
            <div class="four column centered row">
                <div class="column">
                    <div id="user-card" class="ui centered card">
                        <div class="image">
                            <img src="<%= user.avatar %>">
                        </div>
                        <div class="content">
                            <% if (user && user.isAdmin) { %>
                            <span class="right floated">
                                <i class="user secret icon"></i> admin
                            </span>
                            <% } %>
                            <span>
                                <h3><%= user.firstName + " " + user.lastName %></h3>
                            </span>
                            <div class="description">
                                <%= user.about %>
                            </div>
                        </div>
                        <% followersArr = [];
                        user.followers.forEach(function(follower) {
                            followersArr.push(follower._id.toString());
                        });
                        if ((currentUser && currentUser.id !== user.id) && !followersArr.includes(currentUser.id)) { %>
                        <div class="extra content">
                            <a class="ui inverted olive button" href="/follow/<%= user.id %>">Obserwuj</a>
                        </div>
                        <% } %>
                        <% if ((currentUser && currentUser.id === user.id) || (currentUser && currentUser.isAdmin)) { %>
                         <div class="extra content">
                            <a class="ui inverted small yellow button" href="/users/<%= currentUser.id %>/edit">Edytuj</a>
                         </div>
                         <% } %>
                    </div>
                </div>   
                <div class="column">
                    <p class="user-courses">Najnowsze wpisy użytkownika:</p>
                    <div class="ui segments">
                        <% courses.reverse().slice(0, 6).forEach(function(course) { %>
                        <div class="ui segment">
                            <div class="ui red horizontal tiny basic label"><%= course.category %></div> <a class="header" href="/c/<%= course.id %>"><%= course.name %></a>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>